body {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div {
	clear: both;
	padding: 10px;
	border: 1px solid black;
	width: 200px;
	overflow: hidden;
	margin-bottom: 5px;
}

input {
	float: left;
	margin: 0px;
	padding: 0px;
	margin: 3px;
}

p {
	margin: 0;
	padding: 0;
	float:left;
	white-space: nowrap;
}

a, button {
	-webkit-appearance:button;
	-moz-appearance:button;
	-o-appearance:button;
	-ms-appearance:button;

	text-align:center;
	font-size:13px;
	padding:3px;
}

canvas {
	border: 2px solid black;

	padding: 0;
	margin: auto;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 10%;
	right: 0;
}
